.header{
    width: 100%;
}

.header-menu, .header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-menu{
    background-color: #fff;
    margin: 0;
    padding: 11px;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.header2{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-left img{
    margin-left: 100px;
}

.header-right .home a{
    color: #ffbe00;
}

.header-right a{
    color: #263a4f;
    margin-right: 50px;
    font-size: 11px;
    transition: .4s;
    font-family: "Poppins-Regular";
}

.header-right p{
    font-family: "Poppins-Regular";
    font-weight: bold;
    font-size: 13px;
    margin-right: 100px;
}

.header-right a{
    position: relative;
}

.header-right a{
    font-weight: bold;
}

.header-right a:hover{
    color: #ffbe00;
}

.header-right a:hover::after{
    width: 100%;
}

.header-menu i{
    color: #ffbe00;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../Fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../Fonts/Poppins/Poppins-Light.ttf");
}

.title{
    margin: 0 60% 10% 19%;
    padding-top: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title h1{
    white-space: nowrap;
    font-size: 12px;
    font-family: "Poppins-Regular",sans-serif;
    letter-spacing: 0;
    line-height: 26px;
    height: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255, 0.8);
    letter-spacing: 1px;
    text-transform: uppercase;
    visibility: inherit;
    text-align: inherit;
    margin-bottom: 18px;
}

.title h2{
    font-size: 28px;
    line-height: 30px;
    height: 30px;
    letter-spacing: -1px;
    white-space: nowrap;
    font-size: 42px;
    line-height: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: left!important;
    font-family: "Poppins-Regular",sans-serif;
    margin-bottom: 20px;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../Fonts/Poppins/Poppins-Bold.ttf");
}

.title p{
    margin-top: 80px;
    font-size: 12px;
    line-height: 20px;
    font-family: "Poppins-Regular",sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #fff;
}

.title button{
    margin-top: 35px;
    color: #fff;
    background-color: #ffbe00;
    border: none;
    font-weight: bold;
    padding: 16px 30px;
    transition: .4s;
    margin-bottom: 70%;
    font-size: 11px;
}

.title button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.slider{
    position: relative;
}

